<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Nova Database</title>

    <style>
        .details{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:1rem;
            background-color: #374151;
            color: #fff;
        }
        .details:nth-child(odd){
            background-color: #4B5563;
        }
        .details:nth-child(2){
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
        .details:last-child{
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
    </style>

</head>
<body>


    <header>
        <h1>Nova Database</h1>
        <form style="display: none;" id="new-fiber-form" action="">
            <input id="new-fiber-input" type="text" placeholder="Add new fiber">
            <!-- <input id="new-fiber-submit" type="submit" value="Add"> -->
            <button id="new-fiber-submit" type="submit" >Add</button>
        </form>
    </header>


    <main>
        <div id="fiber-list" >
            <div>
                <h2>Fibers</h2>
            </div>

            <% for(let i=desList.length-1 ; i>=0 ; i-- ){ %>
            <div class="details" >
                <p> <%= desList[i].des %> </p>
                <p> <%= desList[i].count %> </p>
            </div>
            <% } %>



        </div>
    </main>

    <script src="./script.js"></script>
</body>
</html>